<div>
    <main class="container">
        <div class="d-flex flex-column justify-content-center text-center">
            <app-text-bubble 
                message="You put your wishes"
                ></app-text-bubble>
            <br>
            <app-text-bubble
                messageEmphasis="We show to you the order to archive them"
            ></app-text-bubble>
            <br>
            <button class="btn btn-success btn-lg shadow-lg">Let's go!</button>
        </div>
    </main>
    
</div>
